<nav th:fragment="footer" class="navbar navbar-expand-lg navbar-light">
    <div class="footer">
        <div class="view">
            <div class="text-wrapper">Про нас</div>
            <a class="div-wrapper" href="/about_us"><div class="div">Про компанію</div></a>
        </div>
        <div class="view-2">
            <div class="text-wrapper">Тех. підтримка</div>
            <div class="frame">
                <a class="div-wrapper" href="/support"><div class="div">Найпопулярніші питання</div></a>
                <div class="text-wrapper-2">+380 97 255 220</div>
                <div class="text-wrapper-2">Arrenvi@gmail.com</div>
            </div>
        </div>
        <div class="view-3">
            <div class="text-wrapper">Для бізнесу</div>
            <div class="div-wrapper"><div class="div">Зареєструвати помешкання</div></div>
        </div>
        <div class="view-4">
            <div class="text-wrapper">Ми в соц мережах:</div>
            <div class="social-icon-footer">
                <img class="img" src="/images/instagram.png" />
                <img class="img" src="/images/facebook.png" />
            </div>
        </div>
        <div class="text-wrapper-3">Версія для мобільних пристроїв</div>
    </div>
    <div class="frame-2">
        <img class="logo-component" src="/images/logo1.png" />
        <div class="text-wrapper-5">Всі права захищені 2024</div>
    </div>
</nav>
