<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid" style="background-color: #275271;">
        <div class="navbar-top d-flex justify-content-between align-items-center">
            <!-- Логотип зліва -->
            <div class="frame">
                <a class="nav-link" href="/"><img class="logo-component" src="/images/logo1.png" alt="Arrenvi Logo" /></a>
            </div>
            <!-- Посилання праворуч -->
            <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end" style="gap: 20px;">
                <li>
                    <!-- Випадаючий список для вибору валюти -->
                    <form action="#" th:action="@{/setCurrency}" method="post">
                        <select name="currency" class="dropdown">
                            <option th:each="currency : ${currencies}" th:value="${currency.code}" th:text="${currency.name}"></option>
                        </select>
                        <button type="submit" class="btn-select">Вибрати</button>
                    </form>
                </li>
                <li>
                    <!-- Випадаючий список для вибору мови -->
                    <form th:action="@{/setLanguage}" method="post">
                        <select name="language" class="dropdown">
                            <option th:each="language : ${languages}" th:value="${language.code}" th:text="${language.name}"></option>
                        </select>
                        <button type="submit" class="btn-select">Вибрати</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home_partners">Зареєструвати своє помешкання</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser != null}">
                    <a class="nav-link" href="/user_account">Кабінет користувача</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser == null}">
                    <a class="nav-link btn-action" href="/login">Вхід</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser == null}">
                    <a class="nav-link btn-action" href="/registration">Реєстрація</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser != null}">
                    <form action="/logout" method="get">
                        <button type="submit" class="btn-logout">Вихід</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
